services:
  #There are several services with dependencies. 
  #1st: the erase script/command must have completed successfully.
  #2nd: the various SITL drones must have launched
  #3rd: the central gateway is started
  
  #Build local images  with  "docker build -t ardupilot-sitl-docker ."
  #(don't forget to sync WSL clock with "sudo hwclock -s" in Ubuntu terminal)


  #Run the erase IP addresses script.
  erase:
    image: ardupilot-sitl-docker
    container_name: erase
    entrypoint: /bin/sh
    command: -c "/home/pilot/app/clear_ips.sh"
    volumes:
      - shared-content:/home/pilot/ips


  #Launch a multicopter drone SITL container
  copter:
    image: ardupilot-sitl-docker
    environment:
      - SITL_EXE=arducopter
      - SITL_OPTS=--model quad --defaults=/home/pilot/app/copter.parm
    #entrypoint: /bin/sh
    #command: -c "/home/pilot/app/launch_copter.sh"
    depends_on:
      erase:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "pgrep", "-x", "arducopter"]
      interval: 5s
    volumes:
      - shared-content:/home/pilot/ips
      
  #Launch a fixed-wing drone SITL container
  plane:
    image: ardupilot-sitl-docker
    environment:
      - SITL_EXE=arduplane
      - SITL_OPTS=--model plane --defaults=/home/pilot/app/plane.parm
    depends_on:
      erase:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "pgrep", "-x", "arduplane"]
      interval: 5s
    volumes:
      - shared-content:/home/pilot/ips
    
  #Launch a quadplane SITL container
  quadp:
    image: ardupilot-sitl-docker
    environment:
      - SITL_EXE=arduplane
      - SITL_OPTS=--model quadplane --defaults=/home/pilot/app/quadplane.parm
    depends_on:
      erase:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "pgrep", "-x", "arduplane"]
      interval: 5s
    volumes:
      - shared-content:/home/pilot/ips
   

  #Launch the gateway
  mavgw:
    image: ardupilot-sitl-docker
    container_name: mavgw
    entrypoint: /bin/sh
    command: -c "/home/pilot/app/gateway.sh 10"
    depends_on:
      erase:
        condition: service_completed_successfully
      copter:
        condition: service_healthy
      quadp:
        condition: service_healthy
      plane:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "pgrep", "-x", "mavp2p"]
      interval: 5s
    ports:
      - "14554:14554/tcp"
      - "14555:14555/tcp"
      - "14556:14556/udp"
    volumes:
      - shared-content:/home/pilot/ips
      
volumes:
  shared-content:
  
#end of file     